<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<form action="contact" method="GET">
    ist Value: <input type="text" name="text">
    2nd Value: <input type="text1" name="text1">
    <input type="submit">
</form>


<p id="demo"></p>
<h6>this is <strong>Home page</strong></h6>
<script>
document.geElementById("demo").innerHTML="This is script file"
</script>
<script>
const person = {

  name: "John",
  age: 30,
  city: "New York"
};

document.getElementById("demo").innerHTML = person.name + ", " + person.age + ", " + person.city;
</script>
</body>
</html>